
.my-card {
  margin: 20px;

}

.my-card-image {
  border-radius: 10px;
  width: 150 px;
  height: 350px;
  box-shadow: 0px 0px 3px 1px #ccc;

}
.my-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.my-card-title {
  font-size: 24px;
  margin: 0px;
}

.my-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

